@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Report Card";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="font-weight-bold green-text">Report Card</h2>            
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <strong class="font-weight-bold">Name</strong>           
    </div>
    <div class="col-md-2">
        <strong>: Katelyn Joanne</strong>           
    </div>
    <div class="col-md-1">
        <strong class="font-weight-bold">Grade</strong>           
    </div>
    <div class="col-md-2">
        <strong>: X</strong>           
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <strong class="font-weight-bold">ID</strong>           
    </div>
    <div class="col-md-2">
        <strong>: 54604674</strong>           
    </div>
    <div class="col-md-1">
        <strong class="font-weight-bold">Class</strong>           
    </div>
    <div class="col-md-2">
        <strong>: X IPA A</strong>           
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <strong class="font-weight-bold">Year</strong>           
    </div>
    <div class="col-md-2">
        <strong>: 2017/2018</strong>           
    </div>
</div>
<div class="row">
    
</div>
<div class="row">
    
</div>



<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered">
            <!--Table head-->
            <thead class="success-color">
                <tr class="text-white text-center">
                    <th rowspan="2">No.</th>
                    <th rowspan="2">Subject</th>
                    <th rowspan="2">Min. Score</th>
                    <th colspan="2">Semester 1</th>
                    <th colspan="2">Semester 2</th>

                </tr>
                <tr class="text-white text-center">
                    <th>Score</th>
                    <th>Class Avg. Score</th>
                    <th>Score</th>
                    <th>Class Avg. Score</th>
                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td>Pendidikan Agama</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>2</td>
                    <td>Pendidikan Kewarganegaraan</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>3</td>
                    <td>Bahasa Indonesia</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>4</td>
                    <td>Bahasa Inggris</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>5</td>
                    <td>Matematika</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>6</td>
                    <td>Ilmu Pengetahuan Alam</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>7</td>
                    <td>Ilmu Pengetahuan Sosial</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>8</td>
                    <td>Seni & Budaya</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>9</td>
                    <td>Pendidikan Jasmani, Olahraga, dan Kesehatan</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>10</td>
                    <td>Kerajinan Tangan</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td>11</td>
                    <td>Ilmu Komputer</td>
                    <td>70</td>
                    <td class="green-text">85</td>
                    <td>75</td>
                    <td class="green-text">95</td>
                    <td>80</td>
                </tr>
                <tr class="text-center">
                    <td colspan="2">TOTAL SCORE</td>
                    <td>770</td>
                    <td class="green-text">935</td>
                    <td></td>
                    <td class="green-text">1045</td>
                    <td></td>
                </tr>
                <tr class="text-center">
                    <td colspan="2">AVERAGE SCORE</td>
                    <td>770</td>
                    <td class="green-text">85</td>
                    <td></td>
                    <td class="green-text">95</td>
                    <td></td>
                </tr>
            </tbody>
            <!--Table body-->

        </table>           
    </div>
    <div class="col-md-2">
        <table class="table table-bordered">
            <!--Table head-->
            <thead class="success-color">
                <tr class="text-white text-center">
                    <th colspan="2">Attendance</th>
                </tr>
            </thead>
            <!--Table head-->

            <tbody>
                <tr class="text-center">
                    <td>Absent</td>
                    <td>0</td>
                </tr>
                <tr class="text-center">
                    <td>Sick</td>
                    <td>0</td>
                </tr>
                <tr class="text-center">
                    <td>Permission</td>
                    <td>1</td>
                </tr>
                <tr class="text-center">
                    <td>Late</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered">
            <!--Table head-->
            <thead class="success-color">
                <tr class="text-white text-center">
                    <th colspan="2">Personality</th>
                </tr>
            </thead>
            <!--Table head-->

            <tbody>
                <tr class="text-center">
                    <td>Attitude</td>
                    <td>Good</td>
                </tr>
                <tr class="text-center">
                    <td>Diligency</td>
                    <td>Good</td>
                </tr>
                <tr class="text-center">
                    <td>Neatness</td>
                    <td>Good</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>